{% extends tpl~'base.html.twig' %}

{% block title %}{{sitename}}{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <button class="btn btn-primary"><i class="fa fa-print"></i></button>
    </div>
</div>
    <h3>Dienstbuch Nr. {{ id }}</h3>
    

    
{% endblock %}